.card{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(246, 251, 255);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    padding-top: 0PX;  
}

form{
    background: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 400px;
    margin-top: 10px; 
}

input[type="text"]{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}

input[type="text"]:focus{
    border-color: #dfeeff;
}

input[type="password"]{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}
button{
    width: 100%;
    padding: 10px;
    background-color: #6eaff6;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #005cbf;
}

header{
    width: 100vw; 
    background-color: #2890ff;  
    display: flex;
    align-items: center;
    height:100px;
    margin-bottom: 50;
    margin-left: 0px;

}

h1{
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 2px;
}